.stats {
    background: #b0d2d2;
    border-radius: 8px;
    padding: 1rem;
}

.specs > h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
}

.stats > h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
    margin-bottom: 10px;
}

.specs > p {
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    text-align: left;
}

.head {
    font-weight: 700;
    font-size: 13px;
    margin: 0px;
}

@media screen and (max-width: 500px) {
    .stats {
        margin-right: -16px;
        margin-left: -16px;
    }
    .d-xs-block {
        display: block !important;
    }
    .scroll {
        max-height: 250px;
        overflow: scroll;
    }
}
