@import url("https://fonts.googleapis.com/css?family=Roboto:400,600,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #deeded !important;
}

.infinite-scroll-component {
  overflow-x: hidden !important;
}

input {
  width: 100%;
  background: #c9dde2;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
}

.border-right {
  border-right: 1px solid #5d5f7e;
}

.borders {
  border-right: 1px solid #5d5f7e;
}

a {
  color: #2e3156;
}

img {
  height: 120px;
  width: 120px;
}

h3 {
  font-weight: 600;
  color: #2e3156;
}

p {
  font-weight: 400;
  color: #2e3156;
}

.modal-content {
  background: #deeded !important;
}

.modal-header {
  border: none !important;
}

.pointer {
  cursor: pointer;
}

.list-group-flush {
  border-radius: 8px !important;
}

.list-group-item {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.fa-chevron-down {
  width: 10px;
}

.fa-chevron-up {
  width: 10px;
}

.fa-magnifying-glass {
  width: 12px;
}

.filter {
  height: 35px;
  width: 50px;
}

.spinner {
  display: flex;
  width: 80%;
  height: 80%;
  margin: 20% auto;
  justify-content: center;
  align-items: center;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid teal;
  border-color: teal transparent teal transparent;
  animation: spinner 1.2s linear infinite;
}

.filter-modal .modal-content {
  background-color: white !important;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  img {
    width: 80px;
    height: 80px;
  }

  .borders {
    border-right: none;
  }

  .border-pok {
    border-top: 1px solid #5d5f7e;
    text-align: left !important;
  }
}

@media screen and (min-width: 1024px) {
  .modal-50w {
    max-width: 50% !important;
  }
}

@media screen and (max-width: 500px) {
  .d-xs-block {
    display: block !important;
  }
}
